.s-widget-births {

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }

  &__link {
    align-self: start;
  }
}

.s-widget-births-day {
  --selected-icon-color: var(--sigma-color--blue);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__top {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;

    background: var(--selected-icon-color);
    border-radius: 50%;

    &:before {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      content: "";
      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.16398 9.2651V11.4546H4.93813C4.41581 11.4546 4 11.8788 4 12.4012V13.7987C4 14.2826 4.36251 14.6823 4.83153 14.7377C4.89549 14.8433 4.97011 14.9435 5.04472 15.0384V16.7556C5.04472 16.8846 5.0874 17.004 5.1407 17.1053C5.07674 17.2332 5.0341 17.3792 5.0341 17.5348V19.3992C5.0341 19.8959 5.43917 20.2989 5.94017 20.2989H18.2199C18.7209 20.2989 19.126 19.8959 19.126 19.3992V17.5348C19.126 17.344 19.062 17.1671 18.9661 17.0221C19.0194 16.9262 19.0515 16.8164 19.0515 16.6991V15.032C19.1261 14.9328 19.2007 14.8284 19.2753 14.7186C19.691 14.6194 20 14.2442 20 13.7987V12.4012C20 11.8788 19.5738 11.4546 19.0515 11.4546H17.6657V9.39517C17.751 9.36106 17.8361 9.3184 17.9214 9.2651C17.9214 9.2651 18.5823 8.83768 19.0939 8.17785C19.5203 7.61502 19.8188 6.90504 19.7762 6.1546C19.7122 5.0961 18.753 3.95446 18.0921 3.38524C17.6764 3.0324 17.1113 2.91195 16.5889 3.06545C16.0773 3.21895 15.6722 3.62082 15.5124 4.13568C15.3631 4.60257 15.0114 4.95647 14.8195 5.33702C14.6916 5.59925 14.5956 5.8647 14.553 6.13972C14.4784 5.08548 13.5298 3.95233 12.8689 3.38524C12.4532 3.0324 11.8882 2.91195 11.3766 3.06545C10.8542 3.21895 10.4491 3.62082 10.2892 4.13568C10.1506 4.60257 9.78816 4.95647 9.59628 5.33702C9.54299 5.46067 9.48965 5.58432 9.44701 5.71011C9.19118 4.78912 8.40241 3.87558 7.83745 3.38524C7.42173 3.0324 6.85681 2.91195 6.33449 3.06545C5.82283 3.21895 5.41781 3.62082 5.25791 4.13568C5.10868 4.60257 4.75691 4.95647 4.56504 5.33702C4.25591 5.95421 4.15989 6.59063 4.42638 7.32081C4.84211 8.46566 5.66298 9.02206 6.16398 9.2651ZM6.36655 17.9676V18.9664H17.7935V17.9676H6.36655ZM17.719 15.9391C17.4419 16.0254 17.1539 16.0723 16.8554 16.0723C16.2585 16.0723 15.7042 15.889 15.2459 15.5745C14.7982 15.889 14.2439 16.0723 13.6469 16.0723C13.05 16.0723 12.4957 15.889 12.048 15.5745C11.5896 15.889 11.0354 16.0723 10.4384 16.0723C9.8415 16.0723 9.29786 15.889 8.83949 15.5745C8.38113 15.889 7.82688 16.0723 7.22994 16.0723C6.93147 16.0723 6.64366 16.0265 6.37717 15.9402V16.6352H17.719V15.9391ZM18.6676 13.4405C18.4757 13.4959 18.3158 13.6334 18.2412 13.82C18.0067 14.3604 17.4737 14.7399 16.8554 14.7399C16.4184 14.7399 16.0135 14.5501 15.747 14.2485C15.6191 14.1099 15.4377 14.03 15.2459 14.03C15.0647 14.03 14.8835 14.1099 14.7556 14.2485C14.4784 14.5501 14.084 14.7399 13.6469 14.7399C13.2099 14.7399 12.8154 14.5501 12.5383 14.2485C12.4104 14.1099 12.2292 14.03 12.048 14.03C11.8561 14.03 11.675 14.1099 11.5471 14.2485C11.2806 14.5501 10.8755 14.7399 10.4384 14.7399C10.0014 14.7399 9.60694 14.5501 9.32979 14.2485C9.20188 14.1099 9.02071 14.03 8.83949 14.03C8.64762 14.03 8.46645 14.1099 8.3492 14.2485C8.07205 14.5501 7.67764 14.7399 7.22994 14.7399C6.61168 14.7399 6.0787 14.3604 5.84419 13.82C5.75892 13.6025 5.5563 13.4522 5.33245 13.4192V12.787H18.6676V13.4405ZM14.5318 6.67483C14.4571 7.2302 14.2012 7.7472 13.8707 8.17785C13.3591 8.83768 12.6982 9.2651 12.6982 9.2651C12.6555 9.29068 12.6236 9.31415 12.581 9.33547V11.4546H16.3333V9.22247C15.8323 8.96025 15.0754 8.40276 14.681 7.32081C14.5958 7.09803 14.5531 6.8827 14.5318 6.67483ZM9.39371 7.12147C9.27645 7.50734 9.07405 7.86552 8.82888 8.17785C8.32788 8.83768 7.66694 9.2651 7.66694 9.2651C7.61364 9.30134 7.54973 9.33334 7.49643 9.35998V11.4546H11.2485V9.28857C10.7582 9.06046 9.89488 8.5051 9.45783 7.32081C9.43651 7.25366 9.41503 7.18756 9.39371 7.12147ZM7.03798 8.07974C7.33645 7.85802 8.2426 7.11613 8.1893 6.23778C8.14666 5.51612 7.42181 4.78485 6.96345 4.3979C6.89949 4.33821 6.80347 4.31798 6.71819 4.34356C6.62226 4.37021 6.55838 4.43846 6.53707 4.52693C6.24926 5.4234 5.36455 5.99902 5.67368 6.86351C5.92951 7.56385 6.43039 7.90708 6.71819 8.05418C6.75017 8.04885 6.79281 8.04565 6.82479 8.04565C6.89941 8.04565 6.97403 8.05735 7.03798 8.07974ZM12.1866 7.99235C12.5597 7.69921 13.2738 7.02339 13.2205 6.23778C13.1779 5.51612 12.453 4.78485 12.0053 4.3979C11.9307 4.33821 11.8349 4.31798 11.7496 4.34356C11.6644 4.37021 11.5896 4.43846 11.5683 4.52693C11.2912 5.4234 10.3958 5.99902 10.7155 6.86351C10.9394 7.47751 11.3446 7.81755 11.643 7.99131C11.7177 7.954 11.8136 7.93265 11.9095 7.93265C12.0055 7.93265 12.1014 7.95397 12.1866 7.99235ZM17.4525 7.95076C17.8363 7.63737 18.497 6.98715 18.4437 6.23778C18.4011 5.51612 17.6763 4.78485 17.2179 4.3979C17.1539 4.33821 17.0581 4.31798 16.9728 4.34356C16.8769 4.37021 16.8128 4.43846 16.7915 4.52693C16.5037 5.4234 15.619 5.99902 15.9281 6.86351C16.1093 7.34746 16.3972 7.66083 16.6637 7.85697C16.7596 7.79941 16.8768 7.76531 16.9941 7.76531C17.1753 7.76531 17.3353 7.83564 17.4525 7.95076Z'/%3E%3C/svg%3E%0A");
    }
  }

  &__date {
    font-size: 14px;
    line-height: 20px;
    color: var(--sigma-color--gray);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &:nth-child(1n + 1) {
    --selected-icon-color: var(--sigma-color--blue);
  }

  &:nth-child(2n + 2) {
    --selected-icon-color: var(--sigma-color--orange);
  }

  &:nth-child(3n + 3) {
    --selected-icon-color: var(--sigma-color--green);
  }
}

.s-widget-births-day-item {
  border-top: var(--sigma-border--dashed);
  padding-top: 0.75rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;


  &__avatar {
    flex-shrink: 0;
  }

  &__avatar-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
  }
}