.s-btn-link {
  flex-shrink: 0;
  font-size: 14px;
  line-height: 1.25rem;
  color: var(--sigma-color--gray);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 7px 9px;
  border: var(--sigma-border);
  border-radius: 1rem;
  background: var(--sigma-color--white);

  &:hover {
    background: var(--sigma-color--hover);
    border-color: var(--sigma-color--hover);
    color: var(--sigma-color--white);
  }
}