.s-header-chat {
  --header-chat-svg-fill: var(--sigma-color--gray);
  --header-chat-svg-stroke: var(--sigma-color--gray);

  position: relative;

  &__wrapper {
    display: block;
    padding: 0.5rem;
    background: #FDFEFF;
    border-radius: 50%;
    border: var(--sigma-border);

    svg {
      transition: var(--sigma-transition);
      fill: var(--header-chat-svg-fill);
      stroke: var(--header-chat-svg-fill);
    }

    &:hover {
      --header-chat-svg-fill: var(--sigma-color--hover);
      --header-chat-svg-stroke: var(--sigma-color--hover);
    }
  }

  &__badge {
    position: absolute;
    top: -16px;
    right: -19px;
    border-radius: 50%;
    background: var(--sigma-color--hover);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sigma-color--white);
    font-size: 14px;
    font-weight: 500;

    width: 1.5rem;
    height: 1.5rem;
  }
}