.s-header {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: var(--sigma-transition);

  &__top {
    position: relative;
    z-index: 1;

    background: var(--sigma-color--white);
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    box-shadow: 0px -1px 0px 0px #5FA0FF14 inset;

    padding: 0 2rem;
  }

  &__top-left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    overflow: hidden;
    flex-shrink: 0;
  }

  &__logo-img {
    height: 50px;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__top-right {
    display: flex;
    align-items: center;
  }

  &__search {
    margin-right: 110px;
  }

  &__chat {
    margin-right: 1.25rem;
  }

  &__profile {
  }

  &__nav {
    transition: var(--sigma-transition);
    background: var(--sigma-color--white);
  }
}