.s-header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px 0 #E2ECFC;
  padding-left: 2rem;
}

.s-header-nav-item {
  --nav-item-dropdown-display: none;
  --nav-item-link-color: var(--sigma-color);
  --nav-item-link-arrow-display: none;
  --nav-item-link-arrow-rotate: rotateX(180deg);

  position: relative;

  &__link {
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  &__link-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: uppercase;
    transition: var(--sigma-transition);
    color: var(--nav-item-link-color);
  }

  &__link-arrow {
    display: var(--nav-item-link-arrow-display);
    transform: var(--nav-item-link-arrow-rotate);
    transition: var(--sigma-transition);

    svg {
      fill: var(--nav-item-link-color);
      transition: var(--sigma-transition);
    }
  }

  &__dropdown {
    display: var(--nav-item-dropdown-display);
    width: 280px;
    padding-top: 1rem;
    position: absolute;
    top: 100%;
  }

  &__wrapper {
    background: var(--sigma-color--white);
    border-radius: 1rem;
    border: var(--sigma-border);
    box-shadow: 0 2px 32px 2px #87B4F31F;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__wrapper-item {
    padding: 0 1.25rem;
    color: var(--sigma-color);
    font-size: 15px;

    &--desc {
      font-size: 13px;
      line-height: 1rem;
      color: var(--sigma-color--gray);
    }
  }

  &--dropdown {
    --nav-item-link-arrow-display: block;
  }

  &--resources {
    background: #F6F9FF;
    padding-left: 1rem;
    padding-right: 58px;
  }

  &:hover {
    --nav-item-link-color: var(--sigma-color--hover);
    --nav-item-dropdown-display: block;
    --nav-item-link-arrow-rotate: rotateX(0);
  }
}