.s-header-profile {
  --header-profile-dropdown-display: none;

  position: relative;

  &__visual {
    width: 4.5rem;
    height: 4.5rem;
    box-shadow: 0 1px 16px 0 #F4F7FB;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__visual-img {
    object-position: center;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__dropdown {
    display: var(--header-profile-dropdown-display);
    width: 280px;
    padding-top: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
  }

  &__wrapper {
    background: var(--sigma-color--white);
    border-radius: 1rem;
    border: var(--sigma-border);
    box-shadow: 0 2px 32px 2px #87B4F31F;
    padding: 1rem 0;
  }

  &:hover {
    --header-profile-dropdown-display: block;
  }
}

.s-header-profile-dd {

  &__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 23px;

    margin: 0 1.25rem;
    padding: 0 0 1rem;
    border-bottom: var(--sigma-border);
  }

  &__body {
    padding-top: 18px;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__item {
    padding: 0 1.25rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__item-icon {
    flex-shrink: 0;
  }

  &__item-text {
    line-height: 22px;
    text-align: left;
  }
}