:root {
  --sigma-bg-color: #F5F9FC;
  --sigma-bg-color--blue: #FAFCFF;

  --sigma-border-color: #E2ECFC;

  --sigma-color: #2F353D;
  --sigma-color--white: #FFFFFF;
  --sigma-color--gray: #8596A6;
  --sigma-color--blue: #5FA0FF;
  --sigma-color--orange: #FFA019;
  --sigma-color--green: #23D787;

  --sigma-color-link: #0050D7;
  --sigma-color-link--black: #41474F;
  --sigma-color--hover: #0D51C4;

  --sigma-border: 1px solid var(--sigma-border-color);
  --sigma-border--dashed: 1px dashed var(--sigma-border-color);

  --sigma-transition: all .3s ease-out;

  --sigma-font-family: Inter, Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100%;

  font-family: var(--sigma-font-family);
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--sigma-color);
  min-width: 1200px;

  // Улучшаем рендеринг шрифтов на маках
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

a {
  text-decoration: none;
  color: var(--sigma-color--link);
  transition: var(--sigma-transition);

  &:hover {
    color: var(--sigma-color--hover);
  }
}

input {
  border: none;
  outline: none;
  font-family: var(--sigma-font-family);
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}