.main-news {

  .s-island__box {
    gap: 0.5rem;
  }
}

.news-slider {

  &__slide {
    height: auto;
  }

  &__nav {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
}


.main-news-item {
  height: 100%;
  border-radius: 1rem;
  border: var(--sigma-border);
  background: var(--sigma-color--white);
  padding: 1rem;

  transition: var(--sigma-transition);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border-color: var(--sigma-color--hover);
  }

  &__visual {
    overflow: hidden;
  }

  &__img {
    height: 170px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__info {
    margin-top: 1.25rem;
    font-size: 14px;
    line-height: 22px;
    color: var(--sigma-color--gray);
  }

  &__title {
    margin-top: 6px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 15px;
    line-height: 1.5rem;
  }

  &__technical {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
  }

  &__technical-left {
    flex-shrink: 0;

    height: 36px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__comments {
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--sigma-color--gray);
    fill: var(--sigma-color--gray);

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: var(--sigma-color--hover);
      fill: var(--sigma-color--hover);
    }
  }

  &__comments-count {
    font-size: 14px;
    line-height: 20px;
  }
}